:root {
  --clr-neutral--100: #a2d5c6;
  --clr--neutral--500: #f5f0e1;
  --clr--primary--600: #df3745;
  --clr--primary--500: #5c3c92; 

  --fs-small-100: 0.5rem;
  --fs-smalk-400: 1rem;
  --fs-medium-600: 1.25rem;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr--primary--700);
  display: none;
}

#modal.overlay {
  position: fixed;
  top: 40%;
  left: 5%;
  width: 40%;
  background-color: var(--clr--primary--500);
  padding: 1rem;
  margin-left: 15rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}
form label {
  color: var(--clr--neutral--500);
  display: block;
  text-align: center;
  padding: 0.5rem;
  margin: auto;
}

form input {
  width: 20%;
  margin: 0.5rem;
  margin-left: 8rem;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--clr--primary--600);
  color: #223450;
  font-size: var(--fs-medium-600);
}

#config-errors {
  text-align: center;
  color: var(--clr--primary--600);
}

form input:focus {
  outline: none;
 
}



#price-confirm-btn {
  font-size: var(--fs-medium-400);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

#price-confirm-btn:hover {
  border: 1px solid var(--clr--primary--600);
 
}

@media (max-width: 720px) {
  #modal.overlay {
    top: 50%;
    margin: auto;
    width: 90%;
    

  }
  form input {
    margin-left: 5rem;
  }
}